<div class="bg-white text-dark p-3 mb-5">
    <h4>Edit Message of the Day</h4>
    <form (ngSubmit)="submitForm()" [formGroup]="motdForm" *ngIf="motd && motdForm">
        <label class="align-self-start"
               for="title-title">Title</label>
        <div class="input-group input-group-sm">
            <input class="form-control" formControlName="title"
                   id="title-title"
                   placeholder="Title for your motd"
                   type="text"/>
        </div>
        <p *ngIf="motdForm.get('title').dirty && motdForm.get('title').hasError('required')" class="text-danger">Title
            is missing!</p>
        <div class="form-group mt-3">
            <label for="textarea">Content</label>
            <textarea class="form-control" id="textarea" rows="4" formControlName="content"
                      placeholder="Description, info, or more important content ..."></textarea>
            <p *ngIf="motdForm.get('content').dirty &&
            motdForm.get('content').hasError('required')" class="text-danger">Content is missing!</p>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" formControlName="isPinned" class="form-check-input" id="exampleCheck1" (ngModelChange)="isPinnedChange($event)">
            <label class="form-check-label" for="exampleCheck1">Always show until deleted manually</label>
        </div>
        <div class="form-group mt-3">
            <label for="expiry">Expire Date</label>
            <input class="form-control" formControlName="expireAt"
                   id="expiry"
                   placeholder=""
                   type="date"/>
            <p *ngIf="motdForm.get('content').dirty &&
            motdForm.get('expireAt').hasError('required')" class="text-danger">Expiry Date is missing!</p>
        </div>
        <div class="d-flex justify-content-end">
            <button [disabled]="isSending"
                    type="submit"
                    class="btn btn-primary">
                <fa-icon *ngIf="isSending"
                         [spin]="true"
                         icon="spinner"></fa-icon>
                <span *ngIf="!isSending">Save changes</span>
            </button>
        </div>
        <div class="mb-3 p-3 mb-5" *ngIf="!!motdForm.get('content').value">
            <h5>Preview</h5>
            <div class="card shadow-md" >
                <div class="card-body">
                    <h5 class="card-title">{{motdForm.get('title').value}}</h5>
                    <div markdown [innerHTML]="compileMarkdownContent()"></div>
                </div>
            </div>
        </div>
    </form>
    
</div>
