<div class="row"
     [attr.data-intro]="'view.question_type.description.type_wrapper' | translate"
     [attr.aria-label]="'view.question_type.description.type_wrapper' | translate">
  <div *ngFor="let elem of selectableQuestionTypes"
       class="col-12 col-sm-6 mb-2"
       [attr.aria-selected]="isActiveQuestionType(elem.id)">
    <div class="card h-100">
      <div class="card-header">
        <span class="card-title">{{elem.translationName | translate}}</span>
      </div>
      <div class="card-body d-flex flex-column">
        <p class="mb-3">{{elem.descriptionType | translate}}</p>
        <button class="btn mt-auto"
                [class.btn-light]="!isActiveQuestionType(elem.id)"
                [class.btn-success]="isActiveQuestionType(elem.id)"
                [disabled]="isActiveQuestionType(elem.id)"
                (click)="morphToQuestionType(elem.id)">
          <span *ngIf="!isActiveQuestionType(elem.id)">{{'view.question_type.select-type' | translate}}</span>
          <span *ngIf="isActiveQuestionType(elem.id)">{{'view.question_type.current-type' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
