<!doctype html>
<html data-theme="default"
      lang="en">
<head>

  <title>arsnova.click</title>

  <meta charset="utf-8"/>

  <meta content="arsnova.click"
        name="application-name">
  <meta content="Spielerische Alternative zum Audience Response System arsnova.eu"
        name="description">
  <meta content="quiz app, clicker, classroom response system, ARSnova, gamification, arsnova.click"
        name="keywords">
  <meta content="The arsnova Team"
        name="author">
  <meta content="GPLv3"
        name="copyright">

  <meta content="arsnova.click"
        name="apple-mobile-web-app-title">
  <meta content="true"
        name="HandheldFriendly">
  <meta content="375"
        name="MobileOptimized">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
        name="viewport">

  <base href="/">

  <link as="style" href="/theme-default.css" rel="preload" type="text/css"/>
  <link class="theme-meta-data" type="image/svg+xml" id="link-icon-32x32" rel="icon" href="/assets/images/logo.svg"/>

  <link as="font" href="/assets/fonts/Lato/Lato-Regular.woff2" rel="preload" crossorigin="anonymous"/>
  <link as="font" href="/assets/fonts/Roboto/Roboto-Bold.woff2" rel="preload" crossorigin="anonymous"/>
  <link as="font" href="/assets/fonts/Roboto/Roboto-Medium.woff2" rel="preload" crossorigin="anonymous"/>

  <link as="script"
        href="/assets/js/highslide/highslide.min.js"
        rel="prefetch"/>

  <link as="script"
        href="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"
        rel="prefetch"/>

  <link class="theme-styles"
        href="/theme-default.css"
        rel="stylesheet"
        type="text/css"/>

</head>
<body>

<div id="theme-wrapper">
  <div id="content" class="mh-100vh position-relative">
    <app-root>
      <div id="loader-wrapper">
        <h1 class="text-center header-label text-bold my-0 position-relative arsnova-click-label">
          <span class="color-changing-ars logo-header-chars">a r s </span>
          <span class="color-changing-nova logo-header-chars">n o v a </span>
          <span class="color-changing-dot logo-header-dot">. </span>
          <span class="color-changing-click logo-header-chars logo-header-margin-for-dot">c l i c k</span>
        </h1>
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div>
    </app-root>
  </div>
</div>

<script type="text/javascript" src="./cordova.js"></script>

<script type="text/javascript">

  function polyfillsLoaded() {
    [
      Modernizr.audio,
      Modernizr.blobconstructor,
      Modernizr.classlist,
      Modernizr.cors,
      Modernizr.csscalc,
      Modernizr.es5,
      Modernizr.fileinput,
      Modernizr.flexbox,
      Modernizr.flexwrap,
      Modernizr.json,
      Modernizr.localstorage,
      Modernizr.promises,
      Modernizr.sessionstorage,
      Modernizr.svg,
      Modernizr.video,
      Modernizr.websockets,
      Modernizr.xhrresponsetype,
      window.indexedDB !== null,
      typeof window.Uint8Array === 'function',
      typeof window.TextEncoder === 'function',
      typeof window.TextDecoder === 'function',
    ].forEach(function (test) {
      if (!test) {
        location.href = '/assets/static/unsupported.html';
      }
    });

    Modernizr.on('indexeddb', function (result) {
      if (!result) {
        location.href = '/assets/static/unsupported.html';
      }
    });
  }
</script>

<script crossorigin="anonymous"
        src="/assets/js/modernizr/modernizr-custom.js"></script>

<script crossorigin="anonymous"
        src="https://polyfill.io/v3/polyfill.min.js?callback=polyfillsLoaded&flags=gated&features=default%2CArray.from%2CArray.isArray%2CArray.prototype.every%2CArray.prototype.entries%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.findIndex%2CArray.prototype.forEach%2CArray.prototype.includes%2CArray.prototype.indexOf%2CArray.prototype.keys%2CArray.prototype.map%2CArray.prototype.reduce%2CArray.prototype.some%2CAudioContext%2CBlob%2CDate.now%2CJSON%2CMap%2CNumber.parseFloat%2CNumber.parseInt%2CObject.assign%2CObject.entries%2CObject.keys%2CObject.values%2CPromise%2CSet%2CString.prototype.endsWith%2CString.prototype.includes%2CString.prototype.startsWith%2CString.prototype.trim%2CSymbol%2CSymbol.hasInstance%2CSymbol.isConcatSpreadable%2CSymbol.iterator%2CSymbol.match%2CSymbol.replace%2CSymbol.search%2CSymbol.species%2CSymbol.split%2CSymbol.toPrimitive%2CSymbol.toStringTag%2CSymbol.unscopables%2CWindow%2CXMLHttpRequest%2Cconsole%2Cconsole.log%2Cconsole.info%2Cdocument%2ClocalStorage"></script>

<script src="/assets/js/highslide/highslide.min.js"></script>

<script>
  hs.graphicsDir = '/assets/js/highslide/graphics/';
  hs.showCredits = false;
  hs.expandCursor = null;
  hs.restoreCursor = null;
  hs.fullExpandOpacity = 0;
  hs.maxHeight = 500;
  hs.zIndexCounter = 1040;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"></script>

</body>
</html>
